
<p>Formulario de {{this.nombre}} - {{this.apellido}}</p>
<div style="display:flex">
    <form action="/my-handling-form-page" method="post">
        <ul>
            <li>
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="user_name" />
            </li>
            <li>
                <label for="mail" >Precio:</label>
                <input type="email" id="mail" name="user_email" />
            </li>
        </ul>
    </form>
</div>
