html
  head 
    meta(charset="UTF-8")
    title='My Aplicación con Sockets'
    script(src="/socket.io/socket.io.js")
    script(src="main.js")
    script(src="servidor.js")
    style
      include ./style.css
  body 
  
    div
        include listas/form1
    div
        include listas/list1
 

