if arrayProductos.length
    //- p= 'LISTA SUPER de' nombre '-' apellido
    div(class='list-container')
        label ID 
        ul 
            each val in arrayProductos
                li= val.id  
        label Nombre
        ul
            each val in arrayProductos
                li= val.nombre  
        label Precio
        ul
            each val in arrayProductos
                li= val.precio  
    div( class='list-container' id='products')    
else
    p No Hay productos disponibles
